

/*type styles*/

html {
    font-size: 10px;
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    padding-top: 80px;
    line-height: 1.5;
    position: relative;
    overflow-x: hidden;
}

h1 {
    font-size: 5.6rem;
}

h2 {
    font-size: 4.8rem;
}


section {
    margin-top: 100px;
}

/*bag styles*/

.bagview {

    position: relative;

}

.bagview__wrapper {
    max-width: 350px;
    width: 100%;
    height: 100%;
    background: rgb(244, 245, 240);

    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1001;
    transition: all .2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transform: translateX(100%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bagview__wrapper.open {
    transition: all .2s cubic-bezier(0.390, 0.575, 0.565, 1.000);
    transform: translateX(0);
}

.bagview__overlay{

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;


    visibility: hidden;
    opacity: 0;

    z-index: 1000;
    transition: all .2s ease;
    /*transform: translateX(-100%);*/
}

.bagview__overlay.open {
    /*transform: translateY(0);*/
    transition: all .3s ease;
    visibility: visible;
    opacity: .66;

}

.bagview__header {
    height: 80px;
    width: 100%;
    background: #FF491D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bagview__main {
    padding: 40px;
    height: 100%;
    overflow-y: auto;
}

.bag__list {
    margin: 0;
    padding: 0;
}

.bag__item {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 20px;
}

.bagview .card__header {
    flex-direction: column;
}



.bag__image {
    height: 80px;
}

.closeButton {
    display: flex;
    height: 80px;
    width: 80px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.close__image {
    width: 30px;
}

.cart__title {
    font-size: 3rem;
    margin-right: 20px;
    color: white;
}

.bagview__footer {
    height: auto;
    width: 100%;
    background: white;
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    flex-direction: column;

}

.checkout__btn {
    width: 100%;
    background: #FF491D;
    color: white;
    height: 80px;
    border: 0;
    cursor: pointer;
    font-size: 22px;
}

.checkout__btn:focus {
    outline: none;
}
.checkout__total {
    font-family: 'Montserrat', sans-serif;
    padding: 20px;
    font-size: 22px;
    text-align: center;


}



/*header styles*/

.header {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: rgb(244, 245, 240);
    border-bottom: 1px solid #a5a5a5;
    z-index: 999;


}

.logo__link {
    background: transparent;
}


@media screen and (max-width: 800px) {
    .header {
        height: auto;
    }

    .header__logo h1{
        font-size: 4.8rem;
    }
}




.header__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1250px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__right {
    display: flex;
    align-items: center;
}



/*nav styles*/

.nav {
    display: flex;
    align-items: center;

}

.nav__item {
    display: inline-block;
    margin-left: 20px;
    font-weight: bold;


}

.nav__link {
    text-decoration: none;


}

.nav__link:hover {
    text-decoration: underline;
}

.bag__button {

    height: 80px;
    /*background: rgb(222, 222, 222);*/
    width: 80px;

    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.bag__button span{

    width: 25px;
    height: 25px;
    background: red;
    border-radius: 50%;
    font-size: 16px;
    text-align: center;
    line-height: 26px;
    font-weight: bold;
    color: white;
    position: absolute;
    top: 50%;
    right: -10px;
    margin-top: -25px;
}

.bag__button.open {

}


/*.bag__icon {*/
/*    padding: 6px;*/
/*    border-radius: 5px;*/

/*    border:1px solid rgb(222, 222, 222);*/
/*}*/

.bag__image {
    width: 40px;
}



/*main styles*/

.main__wrapper {

    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 20px;
}

.work {
    min-height: calc(100vh - 400px);
}



/*card styles*/



.card {
    min-height: 20vh;
    width: 100%;
   background: rgb(244, 245, 240);
    border: 1px solid rgb(222, 222, 222);
    border-radius: 10px;
    height: 100%;
}

.card--greetings {

}

.card--product {

}

.card__header {

}

.strawthing {
    overflow: hidden;
    height: 30vh;
    position: relative;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.strawthing__image {
    width: 100%;
    position: absolute;
    top: -126%;
    /* bottom: 20%; */
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;


}

@media screen and (max-width: 1000px) {
    .strawthing__image {
        top: -50%;
    }



}



.greetings__wrapper {
    margin: -40px -40px 40px -40px;
    max-height: 30vh;
    overflow: hidden;
}

.greetings__image {
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.page__number {
    width: 40px;
    height: 40px;
    border: 1px solid #a5a5a5;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}



.card__wrapper {
    padding: 40px;
    text-align: center;
}

.card__description{

    max-width: 700px;
    margin: 20px auto;
}

/*button styles*/
.btn {
    background: hsl(12, 100%, 56%);
    padding: 10px;
    color: white;
    display: inline-block;
    border-radius: 5px;



}

.btn:hover {
    background: hsl(12, 100%, 40%);
}

.btn--products {
    margin-right: 10px;
    text-decoration: none;
}

.btn--code {
    margin-left: 10px;
    background: transparent;
    border: 1px solid #FF491D;
    color: dimgray;
}

.btn--code:hover {
    color: white;
}

/*products styles*/

.products {
    margin-top: 40px;
}

.products__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 30px;
}

.products__price {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0;

}

.prev__button {

}

.card--modal {
    width: 800px;
}

.modal {

    position: relative;

}

.modal__wrapper {
    max-width:500px;
    width: 100%;
    height: 100%;
    background: rgb(244, 245, 240);
    top: 50%;

    position: fixed;
    right: 0;
    left: 50%;


    z-index: 1001;
    /*transition: all .2s cubic-bezier(0.390, 0.575, 0.565, 1.000);*/
    transform: translate(-50%, -50%);
    display: none;
    flex-direction: column;
    justify-content: space-between;


}

.modal__wrapper.open {

    display: flex;
}

.modal__overlay{

    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;


    visibility: hidden;
    opacity: 0;

    z-index: 1000;
    transition: all .2s ease;
    /*transform: translateX(-100%);*/
}

.modal__overlay.open {
    /*transform: translateY(0);*/
    transition: all .3s ease;
    visibility: visible;
    opacity: .66;

}

.card--product {
    border: 0;
    background: white;

    flex-direction: column;
    transition: all 0.3s ease;

    z-index: 0;

    transform: scale(1);
    box-shadow: 0px 0px 33px -9px rgba(0,0,0,.2);
}

.card--product:hover {
    transition: all 0.3s ease;
    box-shadow: 0px 0px 40px -9px rgba(0,0,0,.4);
    transform: scale(1.05);
    z-index: 50;
}

.products__search {
    position: relative;
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.search__wrapper {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.products__input {
    height: 40px;
    border-radius: 100px;
    border: 1px solid rgb(222, 222, 222);
    width: 100%;
    padding: 5px 40px 5px 20px;

    margin-bottom: 40px;

}

.products__input:focus {
    outline: none;
}

.search__icon {
    position: absolute;
    top: 35px;
    right: 20px;
    transform: scale(.75);

}

.card--product .card__wrapper {

    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

.card--product .card__title {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    width: 100%;
    text-align: left;
    color: dimgray;

}

.card--product .card__header {
    display: flex;
    z-index: 10;
    margin-bottom: 10px;
    justify-content: space-between;
}

.tags {
    font-size: 18px;
    display: block;

    margin-left: 10px;
    line-height: 2;
}

.card--product .card__main {
    position: relative;
    z-index: 1;


}

.products__feature {
    overflow: hidden;
}

.products__image {

    border-radius: 50%;

}


.btn--add {

    cursor: pointer;
    text-decoration: none;
    border: 0;
    width: 100%;
    margin-top: 20px;

}

.pagination {
    width: 100%;
    margin-top: 20px;
}

.pagination__wrapper {
    display: flex;
    justify-content: space-between;
}

.btn--page {
    background: none;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 0px;
}

.prev__button .prev__image {
    margin-right: 10px;
}

.next__button .next__image {
    margin-left: 10px;
}

.btn:focus, .btn--page:focus {
    outline: none;
}


/*footer styles*/

.footer {
    height: 200px;
    background: rgb(244, 245, 240);
    border-top: 1px solid #a5a5a5;
    margin-top: 100px;
    max-height: 200px;
}

.footer__wrapper {
    padding: 0px 0px 0px 20px;
    max-width: 1250px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
}

.footer__list {
    margin-top: 20px;
    margin-left: 0;
    padding: 0;
}

.callout {
   padding-right: auto;
}

.footer__item {
    display: inline-block;

    margin-right: 10px;
}

.gifything{
    width: 70%;
    clip-path: circle(492px at 510px);
    /* height: 600px; */
    overflow: hidden;
    position: relative;
    height: 200px;

}

.gifything__image {
    width: 100%;
    margin: -40px 20px -40px 0px;
    height: auto;
    position: absolute;
    top: -189%;
    padding-right: 20px;


}

@media screen and (max-width: 1200px) {
    .gifything__image {
        top: -20%;
    }



}

/*@media screen and (max-width: 1000px) {*/
/*    .products__input {*/
/*        width: 100%;*/
/*    }*/

/*}*/

